body{
    background-color: #c1e6ff;
}

.menu1{
    border: 1px solid #c1e6ff;
    
    
    margin: 0 auto;
    
   text-align: right;
    
    
    
    
  
  }
  .menu{
    border-bottom: 2px solid rgb(249, 105, 14);
  }
  .menu1 ul{
    list-style-type: none;
  }
  .menu1 ul li{
    display: inline-block;
    justify-content: space-between;
    font-size: 26px;
    padding: 0.7%;
    padding-left: 5%;
    
    
  }
  .menu1 ul li a{
    text-decoration: none;
    color: yellowgreen;
  
  }
  .menu1 ul li a:hover{
    color: rgb(249, 105, 14);
  }


#well{
    color: rgb(248, 148, 6);
}
#middle{
    margin-top: 100px;
    text-align: center;
    color:#0e3854;
    font-size: 20px;
    font-weight: bold;
}
#pizza,#burger,#tacos,#cola{
   width: 300px;
   height:400px;
   border-radius: 15%;
   text-decoration: none;
}
.container{
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;


}