body{
    background-color:white;
    margin-left: 20px;
}
#logo{
  height: 70px;
  float: left;
  
}
.menu1{
  border: 1px solid white;
  
  
  margin: 0 auto;
  
  text-align: center;
  
  
  

}
.menu{
  border-bottom: 2px solid rgb(249, 105, 14);
}
.menu1 ul{
  list-style-type: none;
}
.menu1 ul li{
  display: inline-block;
  justify-content: space-between;
  font-size: 26px;
  padding: 1%;
  
}
.menu1 ul li a{
  text-decoration: none;
  color: yellowgreen;

}
.menu1 ul li a:hover{
  color: rgb(249, 105, 14);
}
.welcome{
  text-align: center;
  
}
.wel{
  height: 80px;
  background-color: rgb(249, 105, 14)  ;
  text-align: center;
  padding-top: 10px;
}
h1{
  font-size: 57px;
  
}
.bach{
  background-color:white;
  color: rgb(7, 7, 7);
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 900px;
  overflow: scroll;
  margin-left: 5%;
        
}
.protein,.cooked,.patties,.toppings,.cheesy,.bun-type,.sauce-selection,.extra-info,.submission{
  margin-top: 20px;
  margin-bottom: 20px;
}
p{
  font-size: 18px;
  margin-top: 30px;
    
}
  
#Yes,#doneness,#lettuce,#extra,#potato,#ketchup,#nbrphone,#adresse{
  margin-top: 20px;
    
}
.check{
  text-align: center;
  height: 900px;
  width: 400px;
  border: 3px solid rgb(241, 90, 34);
  background-color: whitesmoke;

  
}
h2{
  color:grey;
  font-size: 15px;
  margin-top: 40px;

}
 
.hero {
	background-color: #000000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(tacosf.jfif);
  background-position: center;
	background-size: cover;
	color: #ffffff;
	padding: 1em;
  text-align: center;
  height: 200px;
  
}
.btn {
  margin-top: 1000px;
   
  border: 3px solid whitesmoke;
  padding: 10px;
  color:wheat;
  text-align: center;
  transition-property: all;
}
.btn:hover {
  background: rgb(241, 90, 34);
  color: black;
  cursor: pointer; 
  transition: background .5s; 
}

.sub{
  background-color:rgb(241, 90, 34) ;
  color: white;
  padding: 10px;
  border: 3px solid ;
  border-radius: 1%;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.sub:hover{
  background-color: rgb(249, 105, 14)  ;
  color: #000000;
}
#info{

  font-size: 18px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  


}
#hello{
  margin-bottom: 40px;
}
h3{
  color: whitesmoke;
  font-size: 25px;
  background-color: orange;
  padding: 3%;
  
}
h3:hover{
  color: #000000;
  background-color: rgb(250, 216, 89);
}
label{
  color: black;
  font-size: 18px;
}
#para{
  
  font-size: 23px;
  border-bottom: 2px solid black;
  padding-bottom: 3%;
}